body {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #f4f6ff;
    font-family: 'Poppins', sans-serif;
    flex-direction: column; /* Stack items vertically */
}

form {
    width: 60%;
    max-width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 7px rgba(148, 26, 26, 0.2);
    margin-bottom: 20px;
}

form h1 {
    color: #333;
}

.inputs {
    text-align: left;
}

.inputs label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.inputs input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.inputs button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#user-entries {
    width: 60%;
    max-width: 800px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 7px rgba(148, 26, 26, 0.2);
    padding: 20px;
}

#user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#user-table th, #user-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#user-table th {
    background-color: #4CAF50;
    color: white;
}